@use "../abstract/" as *;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: 1rem;
  color: $color-primary-desaturated-red;
  background-image: url(../../img/bg-pattern-desktop.svg),
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 1.4;

  @media (min-width: 46.8em) {
    display: grid;

    grid-template-areas:
      "head img"
      "hero img"
      "footer footer";
  }
}

.heading-primary {
  font-weight: $font-weight-light;
  font-size: 2.2rem;
  line-height: 1.1;
  letter-spacing: 16px;
  text-transform: uppercase;
  max-width: 20ch;
  margin: auto;
}

span {
  font-weight: $font-weight-semibold;
  color: $color-black;
}

@media (min-width: 46.8em) {
  picture {
    grid-area: img;
  }

  main {
    grid-area: hero;
  }

  footer {
    grid-area: footer;
  }

  header {
    grid-area: head;
  }
}
