.p-8 {
  padding: 2rem;
}

.mt-16 {
  padding-top: 4rem;
}

.mt-2 {
  margin-top: 1rem;
}

.pt-16 {
  padding-top: 4rem;
}

.px-8 {
  padding-inline: 2rem;
}

.my-8 {
  margin-block: 2rem;
}

.text-center {
  text-align: center;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
